@import "tailwindcss";

@theme inline {
  --color-surface: #060e20;
  --color-surface-container-low: #091328;
  --color-surface-container: #0f1930;
  --color-surface-container-highest: #192540;
  --color-surface-lowest: #0c162c;
  --color-surface-variant: #1a2744;
  --color-surface-bright: #1f2b49;

  --color-primary: #81ecff;
  --color-primary-container: #00e3fd;
  --color-secondary: #69f6b8;
  
  --color-on-surface: #dee5ff;
  --color-on-surface-variant: #a3aac4;
  --color-on-primary: #000000;
  
  --color-outline-variant: #40485d;

  --font-display: var(--font-space-grotesk), sans-serif;
  --font-body: var(--font-inter), sans-serif;
}

:root {
  --background: #060e20;
  --foreground: #dee5ff;
}

body {
  background: var(--background);
  color: var(--foreground);
}
